*.pyc
*.json
# lm-evaluation-harness
gsm8k_synthesized
log
result_summary*
*.out
training_data
hidden-states
useless
test*
dream_eval/evals_results_dream
dream_eval/evals_results
dream_eval/evals_results_greedy
*.jsonl
evals_results*
*.png
figs